/*
-----------------------------------------------------------------------
  Footer CSS
-----------------------------------------------------------------------
*/

.footer-area {
  background-color: $white-f8;
  padding: 0;
  position: relative;
  .footer-main {
    padding: 75px 0 67px;
  }
  .widget-item {
    position: relative;
    z-index: 1;
    p {
      font-size: 14px;
      line-height: 24px;
    }
  }
  .widget-title {
    color: $black;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 27px;
  }
  .about-widget {
    margin-bottom: 0;
  }
  .widget-menu-wrap {
    margin-top: -3px;
    .nav-menu {
      display: flex;
      flex-direction: column;
      li {
        margin-bottom: 9px;
        position: relative;
        a {
          color: $body-color;
          font-size: 14px;
          display: inline-block;
          position: relative;
          &:hover {
            color: $theme-color;
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .widget-contact-info {
    margin-bottom: 0;
    margin-top: 25px;
    li {
      font-size: 16px;
      line-height: 1;
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: $body-color;
        font-size: 14px;
        &:hover {
          color: $theme-color;
        }
      }
    }
  }
  .footer-bottom {
    background-color: #ebebeb;
    padding: 19px 0;
    .widget-copyright {
      p {
        color: $body-color;
        font-size: 14px;
        line-height: 24px;
        span {
          color: $theme-color;
        }
        a {
          color: $theme-color;
        }
        i {
          color: #f53400;
          padding: 0 5px;
        }
      }
    }
  }
}

.reveal-footer {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  @media #{$md-device} {
    position: relative;
  }
}

.site-wrapper-reveal {
  position: relative;
  @media #{$md-device} {
    margin-bottom: 0 !important;
  }
}