{% extends 'base.html' %}
{% load static %}

{% block title %}GenZ - Personal Blog HTML Template{% endblock %}
{% block description %}Welcome to GenZ, a personal blog showcasing creative articles and insights{% endblock %}
{% block keywords %}blog, personal, articles, creative{% endblock %}

{% block content %}
<main class="main">
  <div class="cover-home1">
    <div class="container">
      <div class="row">
        <div class="col-xl-1"></div>
        <div class="col-xl-10 col-lg-12">
          <div class="banner">
            <div class="row align-items-end">
              <div class="col-lg-6 pt-100">
                <span class="text-sm-bold color-gray-600 wow animate__animated animate__fadeInUp">Hello Everyone!</span>
                <h1 class="color-gray-50 mt-20 mb-20 wow animate__animated animate__fadeInUp">
                  I'm<a class="typewrite color-linear" href="#" data-period="3000" data-type="[ &quot;Brian Clark&quot;, &quot;Designer&quot;, &quot;Creator&quot; ]"></a>
                </h1>
                <div class="row">
                  <div class="col-lg-9">
                    <p class="text-base color-gray-600 wow animate__animated animate__fadeInUp">I use animation as a third dimension by which to simplify experiences and guiding thro each and every interaction. I'm not adding motion just to spruce things up, but doing it in ways that.</p>
                  </div>
                </div>
                <div class="box-subscriber mt-40 mb-50 wow animate__animated animate__fadeInUp">
                  <div class="inner-subscriber bg-gray-800">
                    <form class="d-flex" action="#">
                      <input class="input-sybscriber" type="text" placeholder="Type your email address">
                      <button class="btn btn-linear btn-arrow-right">Subscribe<i class="fi-rr-arrow-small-right"></i></button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 text-center">
                <div class="banner-img position-relative wow animate__animated animate__fadeIn">
                  <img src="{% static 'assets/imgs/page/homepage1/banner.png' %}" alt="Genz">
                  <div class="pattern-1"><img src="{% static 'assets/imgs/template/pattern-1.svg' %}" alt="Genz"></div>
                  <div class="pattern-2"><img src="{% static 'assets/imgs/template/pattern-2.svg' %}" alt="Genz"></div>
                  <div class="pattern-3"><img src="{% static 'assets/imgs/template/pattern-3.svg' %}" alt="Genz"></div>
                  <div class="pattern-4"><img src="{% static 'assets/imgs/template/pattern-4.svg' %}" alt="Genz"></div>
                </div>
              </div>
            </div>
          </div>

          <!-- Hot Topics Section -->
          <div class="mb-70">
            <div class="box-topics border-gray-800 bg-gray-850">
              <div class="row">
                <div class="col-lg-2">
                  <h5 class="mb-15 color-white wow animate__animated animate__fadeInUp" data-wow-delay="0s">Hot topics</h5>
                  <p class="color-gray-500 mb-20 wow animate__animated animate__fadeInUp" data-wow-delay=".3s">Don't miss out on the latest news about Travel tips, Hotels review, Food guide...</p>
                  <div class="box-buttons-slider position-relative wow animate__animated animate__zoomIn">
                    <div class="swiper-button-prev swiper-button-prev-style-1"></div>
                    <div class="swiper-button-next swiper-button-next-style-1"></div>
                  </div>
                </div>
                <div class="col-lg-10">
                  <div class="box-swiper">
                    <div class="swiper-container swiper-group-5">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <div class="card-style-1"><a href="#">
                              <div class="card-image"><img src="{% static 'assets/imgs/page/homepage1/sport.png' %}" alt="Genz">
                                <div class="card-info">
                                  <div class="info-bottom">
                                    <h6 class="color-white mb-5">Sport</h6>
                                    <p class="text-xs color-gray-500">38 Articles</p>
                                  </div>
                                </div>
                              </div></a></div>
                        </div>
                        <div class="swiper-slide">
                          <div class="card-style-1"><a href="#">
                              <div class="card-image"><img src="{% static 'assets/imgs/page/homepage1/travel.png' %}" alt="Genz">
                                <div class="card-info">
                                  <div class="info-bottom">
                                    <h6 class="color-white mb-5">Travel</h6>
                                    <p class="text-xs color-gray-500">63 Articles</p>
                                  </div>
                                </div>
                              </div></a></div>
                        </div>
                        <div class="swiper-slide">
                          <div class="card-style-1"><a href="#">
                              <div class="card-image"><img src="{% static 'assets/imgs/page/homepage1/design.png' %}" alt="Genz">
                                <div class="card-info">
                                  <div class="info-bottom">
                                    <h6 class="color-white mb-5">Design</h6>
                                    <p class="text-xs color-gray-500">78 Articles</p>
                                  </div>
                                </div>
                              </div></a></div>
                        </div>
                        <div class="swiper-slide">
                          <div class="card-style-1"><a href="#">
                              <div class="card-image"><img src="{% static 'assets/imgs/page/homepage1/movie.png' %}" alt="Genz">
                                <div class="card-info">
                                  <div class="info-bottom">
                                    <h6 class="color-white mb-5">Movie</h6>
                                    <p class="text-xs color-gray-500">125 Articles</p>
                                  </div>
                                </div>
                              </div></a></div>
                        </div>
                        <div class="swiper-slide">
                          <div class="card-style-1"><a href="#">
                              <div class="card-image"><img src="{% static 'assets/imgs/page/homepage1/lifestyle.png' %}" alt="Genz">
                                <div class="card-info">
                                  <div class="info-bottom">
                                    <h6 class="color-white mb-5">Lifestyle</h6>
                                    <p class="text-xs color-gray-500">78 Articles</p>
                                  </div>
                                </div>
                              </div></a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Editor's Picked Section -->
          <h2 class="color-linear d-inline-block mb-10 wow animate__animated animate__fadeInUp">Editor's picked</h2>
          <p class="text-lg color-gray-500 wow animate__animated animate__fadeInUp">Featured and highly rated articles</p>
          <div class="row mt-70">
            <div class="col-lg-6 wow animate__animated animate__fadeIn">
              <div class="card-blog-1 hover-up">
                <div class="card-image mb-20"><a class="post-type" href="#"></a><a href="#"><img src="{% static 'assets/imgs/page/homepage1/news2.png' %}" alt="Genz"></a></div>
                <div class="card-info">
                  <div class="row">
                    <div class="col-7"><a class="color-gray-700 text-sm" href="#">#Travel</a><a class="color-gray-700 text-sm" href="#">#Lifestyle</a></div>
                    <div class="col-5 text-end"><span class="color-gray-700 text-sm timeread">3 mins read</span></div>
                  </div>
                  <a href="#"><h4 class="color-white mt-20">Self-observation is the first step of inner unfolding</h4></a>
                  <div class="row align-items-center mt-25">
                    <div class="col-7">
                      <div class="box-author"><img src="{% static 'assets/imgs/page/homepage1/author.png' %}" alt="Genz">
                        <div class="author-info">
                          <h6 class="color-gray-700">Joseph</h6><span class="color-gray-700 text-sm">25 Nov 2022</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-5 text-end"><a class="readmore color-gray-500 text-sm" href="#"><span>Read more</span></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 wow animate__animated animate__fadeIn" data-wow-delay=".3s">
              <div class="card-blog-1 hover-up">
                <div class="card-image mb-20"><a class="post-type" href="#"></a><a href="#"><img src="{% static 'assets/imgs/page/homepage1/news1.png' %}" alt="Genz"></a></div>
                <div class="card-info">
                  <div class="row">
                    <div class="col-7"><a class="color-gray-700 text-sm" href="#">#Design</a><a class="color-gray-700 text-sm" href="#">#Movie</a></div>
                    <div class="col-5 text-end"><span class="color-gray-700 text-sm timeread">6 mins read</span></div>
                  </div>
                  <a href="#"><h4 class="color-white mt-20">Self-observation is the first step of inner unfolding</h4></a>
                  <div class="row align-items-center mt-25">
                    <div class="col-7">
                      <div class="box-author"><img src="{% static 'assets/imgs/page/homepage1/author2.png' %}" alt="Genz">
                        <div class="author-info">
                          <h6 class="color-gray-700">Joseph</h6><span class="color-gray-700 text-sm">27 Sep 2022</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-5 text-end"><a class="readmore color-gray-500 text-sm" href="#"><span>Read more</span></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Recent Posts & Sidebar -->
          <div class="row mt-70">
            <div class="col-lg-8">
              <h2 class="color-linear d-inline-block mb-10">Recent posts</h2>
              <p class="text-lg color-gray-500">Don't miss the latest trends</p>
              <div class="box-list-posts mt-70">
                <div class="card-list-posts wow animate__animated animate__fadeIn">
                  <div class="card-image hover-up"><a href="#"><img src="{% static 'assets/imgs/page/homepage1/img-news-1.jpg' %}" alt="Genz"></a></div>
                  <div class="card-info"><a class="btn btn-tag bg-gray-800 hover-up" href="#">Working Tips</a><a href="#">
                      <h4 class="mt-15 mb-20 color-white">Helpful Tips for Working from Home as a Freelancer</h4></a>
                    <p class="color-gray-500">Gosh jaguar ostrich quail one excited dear hello and bound and the and bland moral misheard roadrunner flapped lynx far that and jeepers giggled far and far</p>
                    <div class="row mt-20">
                      <div class="col-7"><a class="color-gray-700 text-sm mr-15" href="#"># Travel</a><a class="color-gray-700 text-sm" href="#"># Lifestyle</a></div>
                      <div class="col-5 text-end"><span class="color-gray-700 text-sm timeread">3 mins read</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <nav class="mb-50">
                <ul class="pagination">
                  <li class="page-item wow animate__animated animate__fadeIn" data-wow-delay=".0s"><a class="page-link page-prev" href="#"><i class="fi-rr-arrow-small-left"></i></a></li>
                  <li class="page-item wow animate__animated animate__fadeIn" data-wow-delay=".1s"><a class="page-link" href="#">1</a></li>
                  <li class="page-item wow animate__animated animate__fadeIn" data-wow-delay=".2s"><a class="page-link active" href="#">2</a></li>
                  <li class="page-item wow animate__animated animate__fadeIn" data-wow-delay=".3s"><a class="page-link" href="#">3</a></li>
                  <li class="page-item wow animate__animated animate__fadeIn" data-wow-delay=".5s"><a class="page-link page-next" href="#"><i class="fi-rr-arrow-small-right"></i></a></li>
                </ul>
              </nav>
            </div>
            <div class="col-lg-4">
              <div class="sidebar">
                <div class="box-sidebar bg-gray-850 border-gray-800">
                  <div class="head-sidebar wow animate__animated animate__fadeIn">
                    <h5 class="line-bottom">Popular Posts</h5>
                  </div>
                  <div class="content-sidebar">
                    <div class="list-posts">
                      <div class="item-post wow animate__animated animate__fadeIn">
                        <div class="image-post"><a href="#"><img src="{% static 'assets/imgs/page/homepage1/img-post.jpg' %}" alt="Genz"></a></div>
                        <div class="info-post border-gray-800"><a href="#">
                            <h6 class="color-white">Creating is a privilege but it's also a gift</h6></a><span class="color-gray-700">15 mins read</span>
                          <ul class="d-inline-block">
                            <li class="color-gray-700">15 April 2022</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}

