/*
-----------------------------------------------------------------------
	About CSS
-----------------------------------------------------------------------
*/
.about-area {
  &.about-default-area {
  	padding: 100px 0;
  }
}