/*
-----------------------------------------------------------------------
    Blog CSS
-----------------------------------------------------------------------
*/

.blog-area {
    &.blog-default-area {
      padding: 99px 0 77px;
      @media #{$lg-device} {
        padding: 61px 0 36px;
      }
    }
}

.post-item {
    margin-bottom: 30px;
    position: relative;
    .thumb {
        margin-bottom: 32px;
        overflow: hidden;
        position: relative;
        & > a {
            display: block;
            position: relative;
        }
        img {
            width: 100%;
            @include transition(.8s);
        }
    }
    .content {
        .inner-content {
            .title {
                font-size: 25px;
                margin-bottom: 6px;
                a {
                    color: $body-color;
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
            .meta {
                margin-bottom: 16px;
                a {
                    font-size: 14px;
                    font-style: italic;
                    &.post-date {
                        color: $body-color;
                    }
                }
            }
            p {
                line-height: 26px;
                margin-bottom: 28px;
            }
            .btn-blog {
                color: $body-color;
                font-size: 14px;
                padding-left: 48px;
                position: relative;
                &:before {
                background-color: $black;
                content: "";
                height: 1px;
                left: 0;
                position: absolute;
                top: 10px;
                width: 37px;
                @include transition(.3s);
                }
                &:hover {
                    color: $theme-color;
                    &:before {
                        background-color: $theme-color;
                    }
                }
            }
        }
    }
}

.blog-grid-area {
    padding: 100px 0px 80px 0px;
    @media #{$lg-device} {
      padding: 70px 0px 70px 0px;
    }
}

.sidebar-area {
  .widget {
      margin-bottom: 50px;
      .widget-title {
          color: #353535;
          font-family: $font-current-theme2;
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 32px;
          text-transform: capitalize;
      }
  }

  .widget-search-box {
      .form-input-item {
          position: relative;
          input {
          background-color: #efefef;
          border: none;
          border-radius: 3px;
          color: #555;
          font-size: 14px;
          height: 60px;
          padding-left: 20px;
          padding-right: 50px;
          width: 100%;
          }
          .btn-src {
              background-color: #efefef;
          border: none;
          border-radius: 0;
          color: #666;
          font-size: 24px;
          height: 50px;
          line-height: 50px;
          position: absolute;
          right: 7px;
          top: calc(50% - 2px);
          transform: translateY(-50%);
          width: 50px;
          }
      }
  }

  .widget-blog-post {
      ul {
          margin-bottom: 0;
          li {
          display: block;
          line-height: 1.4;
          margin-bottom: 32px;
          position: relative;
          @media #{$md-device} {
            margin-bottom: 48px;
          }
          .thumb {
              left: 0;
              overflow: hidden;
              position: absolute;
              top: 50%;
              @include translate(0, -50%);
              img {
                  width: 71px;
              }
          }
          .content {
              padding-left: 95px;
              a {
                  color: #242424;
                  display: block;
                  font-size: 16px;
                  font-weight: 400;
                  font-family: $font-current-theme2;
                  line-height: 19px;
                  margin-bottom: 4px;
                  &:hover {
                      color: $theme-color;
                  }
              }
              span {
                  color: $black-666;
                  font-size: 14px;
                  display: block;
                  line-height: 17px;
              }
          }
          }
      }
  }

  .widget-archive {
      .archive-date {
          font-size: 14px;
          font-weight: 700;
      }
      ul {
          margin-bottom: 0;
          li {
              font-family: $font-current-theme2;
              font-size: 15px;
              line-height: 1.5;
              margin-bottom: 10px;
              a {
                  color: $body-color;
                  &:hover {
                      color: $theme-color;
                  }
              }
          }
      }
  }

  .widget-socials {
      a {
          color: $black;
          font-size: 24px;
          margin-right: 15px;
          &:last-child {
              margin-right: 0;
          }
          &:hover {
              color: $theme-color;
          }
      }
  }

  .widget-tags {
      ul {
          margin-bottom: 0;
          li {
              display: inline-block;
              margin-bottom: 10px;
              margin-right: 3px;
              font-size: 14px;
              a {
                  color: $body-color;
                  &:hover {
                      color: $theme-color;
                  }
              }
          }
      }
  }
}

.post-details-content {
    .post-details-body {
        .content {
            margin-bottom: 74px;
            .thumb {
                img {}
            }
            h4 {
                font-size: 28px;
                margin-top: 31px;
                margin-bottom: 10px;
            }
            .meta {
            margin: 9px 0 16px;
                li {
                    display: inline-block;
                    font-size: 15px;
                    font-style: italic;
                }
                .date {
                    &:after {
                        content: "/";
                    margin: 0 6px 0 10px;
                    }
                }
                .author {
                    color: $theme-color;
                }
            }
            p {
                font-family: $font-current-theme4;
                font-size: 15px;
                line-height: 26px;
            }
            .blockquote-area {
                .blockquote-style {
                    background-color: $theme-color;
                    border-left: 3px solid #222;
                    margin-bottom: 14px;
                    p {
                        font-family: $font-current-theme1;
                        color: #fff;
                        font-size: 18px;
                        font-style: italic;
                        line-height: 34px;
                        padding: 20px 50px;
                        @media #{$sm-device} {
                          font-size: 15px;
                          line-height: 24px;
                          padding: 10px 20px;
                        }
                    }
                }
            }
            p {}
            .category-social-content {
                align-items: center;
            border-bottom: 2px solid #f6f6f6;
                display: flex;
                justify-content: space-between;
                margin-top: 46px;
                padding-bottom: 11px;
                @media #{$sm-device} {
                  display: block;
                }
                .category-items {
                    a {
                        color: $body-color;
                        position: relative;
                        margin-right: 18px;
                        &:after {
                            background-color: #6d6d6d;
                            content: "";
                            font-size: 8px;
                            height: 12px;
                            position: absolute;
                            left: 46px;
                            top: 5px;
                            transform: rotate(20deg);
                            width: 1.5px;
                        }
                        &:last-child {
                            &:after {
                                display: none;
                            }
                        }
                        &:hover {
                            color: $theme-color;
                        }
                    }
                }
                .social-items {
                    span {
                        color: #242424;
                        font-weight: 400;
                        margin-top: 3px;
                        text-transform: capitalize;
                    }
                    a {
                        color: #333333;
                        font-size: 18px;
                        margin-left: 16px;
                        &:hover {
                            color: $theme-color;
                        }
                    }
                }
            }
        }
    }
}

.comment-area {
    .title {
        font-size: 20px;
        font-weight: 500;
        font-family: $font-current-theme2;
        margin-bottom: 51px;
        text-transform: uppercase;
    }
    .comment-content {
        margin-bottom: 56px;
        .single-comment {
            .author-info {
                display: flex;
                @media #{$sm-device} {
                  display: block;
                }
                .thumb {
                    margin-right: 28px;
                  @media #{$sm-device} {
                    margin-bottom: 20px;
                  }
                    img {
                        border-radius: 50%;
                        min-width: 123px;
                        width: 123px;
                    }
                }
                .author-details {
                    .name {
                        font-size: 16px;
                        font-weight: 500;
                    }
                    .comment-date {
                        margin: 6px 0 8px;
                        p {}
                    }
                }
            }
        }
    }
    .comment-form {
        .title {
            margin-bottom: 40px;
        }
    }
}