/*
-----------------------------------------------------------------------
  Brand Logo CSS
-----------------------------------------------------------------------
*/

.brand-logo-area {
  &.brand-logo-default-area {
  	padding: 3px 0 104px;
  }
}

.brand-logo-item {
	img {
		padding: 0px 5px;
	}
}