{% extends 'base.html' %}
{% load static %}
{% block content %}
  <main class="main-content site-wrapper-reveal">
    <!--== Start Page Title Area ==-->
    <section class="page-title-area" data-bg-img="assets/img/photos/bg-page-title.webp'%}">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-title-content text-center">
              <h2 class="title text-white">About</h2>
              <div class="bread-crumbs"><a href="index.html">Home<span class="breadcrumb-sep">/</span></a><span class="active">About</span></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Page Title Area ==-->

    <!--== Start About Area ==-->
    <section class="about-area about-default-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="about-content">
              <div class="section-title">
                <h5 class="subtitle">Welcome To</h5>
                <h2 class="title">Our Alan Store!</h2>
              </div>
              <p>Phuler Shop is a premium HTML template designed and develoved from the ground up with the sole purpose of helping you create an astonishing, the beautiful and user friendly website that will boost your product’s sales.</p>
              <p>The theme design package provides a complete Magento theme set for your online store according to your desired theme.</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="thumb mt-md-60">
              <img src="{% static 'assets/img/about/1.png'%}" alt="Image-Alan">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End About Area ==-->

    <!--== Start Testimonial Area ==-->
    <section class="testimonial-area testimonial-default-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 m-auto">
            <div class="testimonial-content">
              <div class="swiper-container testimonial-slider-content testimonial-slider-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="testimonial-single">
                      <div class="client-thumb-wrp">
                        <div class="client-thumb">
                          <img src="{% static 'assets/img/testimonial/1.webp'%}" alt="Image-Alan">
                        </div>
                      </div>
                      <div class="client-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed do eiusmod tempor incididunt ut labore</p>
                      </div>
                      <div class="client-info">
                        <h4 class="name">Khabuli Teop</h4>
                        <h5 class="designation">Customer</h5>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="testimonial-single">
                      <div class="client-thumb-wrp">
                        <div class="client-thumb">
                          <img src="{% static 'assets/img/testimonial/2.webp'%}" alt="Image-Alan">
                        </div>
                      </div>
                      <div class="client-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed do eiusmod tempor incididunt ut labore</p>
                      </div>
                      <div class="client-info">
                        <h4 class="name">Pitter davil</h4>
                        <h5 class="designation">Customer</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Testimonial Area ==-->

    <!--== Start Team Area ==-->
    <section class="team-area team-default-area">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-6 m-auto">
            <div class="section-title text-center">
              <h2 class="title">Team Members</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="team-member">
              <div class="thumb">
                <img src="{% static 'assets/img/team/1.webp'%}" alt="Image">
                <div class="social-icons">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a> 
                </div>
              </div>
              <div class="content">
                <div class="member-info">
                  <h4 class="name"><a href="#/">Mr. Nirob Khan</a></h4>
                  <h6 class="designation">Manager</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="team-member">
              <div class="thumb">
                <img src="{% static 'assets/img/team/2.webp'%}" alt="Image">
                <div class="social-icons">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a> 
                </div>
              </div>
              <div class="content">
                <div class="member-info">
                  <h4 class="name"><a href="#/">Ms. Emma</a></h4>
                  <h6 class="designation">Designer</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="team-member">
              <div class="thumb">
                <img src="{% static 'assets/img/team/3.webp'%}" alt="Image">
                <div class="social-icons">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a> 
                </div>
              </div>
              <div class="content">
                <div class="member-info">
                  <h4 class="name"><a href="#/">Mike Banding</a></h4>
                  <h6 class="designation">Developer</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Team Area ==-->

    <!--== Start Brand Logo Area ==-->
    <section class="brand-logo-area brand-logo-default-area">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="swiper-container brand-logo-slider-container">
              <div class="swiper-wrapper brand-logo-slider">
                <div class="swiper-slide brand-logo-item">
                  <a href="#/"><img src="{% static 'assets/img/brand-logo/1.webp'%}" alt="Brand-Logo"></a>
                </div>
                <div class="swiper-slide brand-logo-item">
                  <a href="#/"><img src="{% static 'assets/img/brand-logo/2.webp'%}" alt="Brand-Logo"></a>
                </div>
                <div class="swiper-slide brand-logo-item">
                  <a href="#/"><img src="{% static 'assets/img/brand-logo/3.webp'%}" alt="Brand-Logo"></a>
                </div>
                <div class="swiper-slide brand-logo-item">
                  <a href="#/"><img src="{% static 'assets/img/brand-logo/4.webp'%}" alt="Brand-Logo"></a>
                </div>
                <div class="swiper-slide brand-logo-item">
                  <a href="#/"><img src="{% static 'assets/img/brand-logo/5.webp'%}" alt="Brand-Logo"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Brand Logo Area ==-->
  </main>
{% endblock content %}