{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="main-content site-wrapper-reveal">
  <!--== Start Page Title Area ==-->
  <section class="page-title-area" data-bg-img="assets/img/photos/bg-page-title.webp">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-title-content text-center">
            <h2 class="title text-white">CONTACT</h2>
            <div class="bread-crumbs">
              <a href="../../../Alan%20(2)/alan-html/index.html">Home
                <span class="breadcrumb-sep">/</span>
              </a>
              <span class="active">Contact</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--== End Page Title Area ==-->

  <!--== Start Contact Area ==-->
  <section class="contact-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="contact-form">
            <form class="contact-form-wrapper" id="contact-form" action="http://whizthemes.com/mail-php/raju/arden/mail.php" method="post">
              <div class="row">
                <div class="col-lg-12">
                  <div class="section-title">
                    <h2 class="title">Leave us a message</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority Lorem Ipsum available.</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input class="form-control" type="text" name="con_name" placeholder="Your name *">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input class="form-control" type="email" name="con_email" placeholder="Your email *">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input class="form-control" type="text" name="con_phone" placeholder="Subject">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group mb-0">
                        <textarea class="form-control textarea" name="con_message" placeholder="Type your message here.."></textarea>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group mb-0">
                        <button class="btn btn-theme" type="submit">SEND MESSAGE</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!-- Message Notification -->
          <div class="form-message"></div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-title mt-md-30">
                <h2 class="title">Contact address</h2>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority Lorem Ipsum available.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="contact-info-content">
                <div class="contact-info-item">
                  <div class="content">
                    <h4>Our Address</h4>
                    <p>House. 9, Road. 12, Widgets. Orled. Sydney. Milaro.</p>
                  </div>
                </div>
                <div class="contact-info-item">
                  <div class="content">
                    <h4>Phone Number</h4>
                    <p>01234 567 890<br>01234 567 891</p>
                  </div>
                </div>
                <div class="contact-info-item mb-0 pb-0">
                  <div class="content">
                    <h4>Web Address</h4>
                    <p>info@example.com<br>www.example.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="contact-map-area pt-80">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8402891185374!2d144.95373631590425!3d-37.81720974201477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4c2b349649%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2ssg!4v1607294780661!5m2!1sen!2ssg"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--== End Contact Area ==-->
</main>
{% endblock content %}