{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="main-content">
  <!--== Start Hero Area Wrapper ==-->
  <section class="home-slider-area slider-default">
    <div class="home-slider-content">
      <div class="swiper-container home-slider-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">

<!-- for loop here for carousel -->
            <!-- Start Slide Item -->
            <div class="home-slider-item bg-img-cover" data-bg-img="assets/img/slider/1.png' %}">
              <div class="slider-content-area">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <div class="content m-auto">
                        <div class="inner-content">
                          <div class="tittle-wrp">
                            <h2>Ice Cream Coop <br>New item</h2>
                          </div>
                          <div class="btn-wrp">
                            <a href="{% url 'shop' %}" class="btn-link">Shop Now</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Slide Item -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--== End Hero Area Wrapper ==-->

  <!--== Start Product Area Wrapper ==-->
  <section class="product-area latest-product-area" data-aos="fade-up" data-aos-duration="1000">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-6 m-auto">
          <div class="section-title text-center">
            <h2 class="title">Latest product</h2>
            <p>Our latest item collection of 2021</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="swiper-container product4-slider-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">

<!--              for loop here too-->
              <!-- Start Product Item -->
              <div class="product-item">
                <div class="product-thumb">
                  <a href="{% url 'shop_single_product' 1%}">
                    <img src="{% static 'assets/img/shop/1.png' %}" alt="Alan-Shop">
                    <div class="ribbons">
                      <span class="ribbon ribbon-hot">Sale</span>
                      <span class="ribbon ribbon-onsale align-right">-15%</span>
                    </div>
                  </a>
                  <div class="product-action">
                    <a class="action-wishlist" href="shop-wishlist.html" title="Wishlist">
                      <i class="ion-android-favorite-outline"></i>
                    </a>
                    <a class="action-quick-view" href="javascript:void(0);" title="Quick View">
                      <i class="ion-ios-search-strong"></i>
                    </a>
                    <a class="action-cart" href="#/">
                      <i class="fa fa-opencart"></i>
                    </a>
                  </div>
                </div>
                <div class="product-info">
                  <h4 class="title"><a href="{% url 'shop_single_product' 1 %}">1. New and sale badge pro...</a></h4>
                  <div class="prices">
                    <span class="price">$110.00</span>
                    <del class="price-old">$130.00</del>
                  </div>
                </div>
              </div>
              <!-- End Product Item -->
            </div><!-- End Product Item -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--== End Product Area Wrapper ==-->

  <!--== Start Offer Area Wrapper ==-->
  <section class="offer-area" data-aos="fade-up" data-aos-duration="1000">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="single-offer">
            <div class="thumb">
              <a href="{% url 'shop_single_product' 1%}">
                <img src="{% static 'assets/img/shop/offer-1.webp' %}" alt="Alan-Shop">
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="single-offer">
            <div class="thumb">
              <a href="{% url 'shop_single_product' 1%}">
                <img src="{% static 'assets/img/shop/offer-2.webp' %}" alt="Alan-Shop">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--== End Offer Area Wrapper ==-->

  <!--== Start Featured Product Area Wrapper ==-->
  <section class="product-area featured-product-area" data-aos="fade-up" data-aos-duration="1000">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-6 m-auto">
          <div class="section-title text-center">
            <h2 class="title">Featured Product</h2>
            <p>Best selling item in our collection</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <!-- Start Product Item -->
          <div class="product-item">
            <div class="product-thumb">
              <a href="{% url 'shop_single_product' 1%}">
                <img src="{% static 'assets/img/shop/1.png' %}" alt="Alan-Shop">
                <div class="ribbons">
                  <span class="ribbon ribbon-hot">Sale</span>
                  <span class="ribbon ribbon-onsale align-right">-15%</span>
                </div>
              </a>
              <div class="product-action">
                <a class="action-wishlist" href="#/" title="Wishlist">
                  <i class="ion-android-favorite-outline"></i>
                </a>
                <a class="action-quick-view" href="javascript:void(0);" title="Quick View">
                  <i class="ion-ios-search-strong"></i>
                </a>
                <a class="action-cart" href="#/">
                  <i class="fa fa-opencart"></i>
                </a>
              </div>
            </div>
            <div class="product-info">
              <h4 class="title"><a href="{% url 'shop_single_product' 1 %}">1. New and sale badge pro...</a></h4>
              <div class="prices">
                <span class="price">$110.00</span>
                <del class="price-old">$130.00</del>
              </div>
            </div>
          </div>
          <!-- End Product Item -->
        </div>

      </div>
    </div>
  </section>
  <!--== End Featured Product Area Wrapper ==-->
</main>

{% endblock content %}